.overskrift {
    text-align: center;
}

body{
  background: url(https://cdn.crispedge.com/94b21c.png);
}


.allInfo{
    background-color: lightgray;
    width: 300px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
    margin-left: 750px;
    background: url(https://image.freepik.com/free-vector/green-virus-covid-background_181623-30.jpg);
    background-position: center;
    background-attachment: fixed;
    color: rgb(179, 183, 187);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.display{
text-align: center;
font-size: 75px;
}






.buttons1 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
  height: 150px;
  width: 300px;
  
}




